body {
    position: relative;
    background-color: #333;
}

#content-container {
    padding: 5px;
}

.linkBox {
    background-color: #3f3f3f;
    border: 2px solid white;
    margin: 20px 0;
    padding: 5px;
    box-shadow: 2px 2px 5px 0 #ff7d05,
                -2px -2px 5px 0 #ff7d05;
}
.snipp {
    color: white;
    padding: 8px;
}
.found {
    color: #ff7d05;
}
.title {
    padding: 8px 8px 8px 0;
    font-size: 16pt;
    color: #ff7d05;
}

a {
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}

button.btn {
    background-color: #ff7d05;
    color: white;
}
